* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.header {
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.header h1 {
    margin: 0;
}

.main {
    max-width: 800px;
    margin: 40px auto;
    overflow: hidden;
}

.content {
    padding: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
}

.content h2 {
    text-align: center;
}

.footer {
    text-align: center;
    height: 40px;
    width: 100%;
    background: #696969;/*#343a40;*/
    position: fixed;
    bottom: 0;
}

.footer p {
    line-height: 40px;
    color: white;
}
