<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>Добро пожаловать!</h1>
            <!--<nav class="navbar">
                <a href="#" class="button">Главная</a>
                <a href="#" class="button">О нас</a>
                <a href="#" class="button">Контакты</a>
            </nav>-->
        </div>
    </header>
    
    <main class="content">
        <section class="intro">
            <div class="container">
                <p>Привет! это сайт, на котором вы научитесь писать на языке Golang. Этот сайт также написан на Go, ссылка на репозиторий будет в подвале*.</p>
                <p>Какой то текст...</p>
            </div>
        </section>
        
        <section class="features">
            <div class="container">
                <h2>Вы научитесь:</h2>
                <ul>
                    <li>Говорить что гофер смешной</li>
                    <li>Назовете себя гофером</li>
                    <li>Поймете что оопшникам в синеньком не место</li>
                </ul>
            </div>
        </section>
    </main>
    
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 | <a href="https://github.com/mishakuschenko", target="_blank">Мой Github</a> | <a href="#", target="_blank">*Репозиторий</a></p>
        </div>
    </footer>
</body>
</html>
